#toastsContainerTopRight {
    top: 20px;
    right: 20px;
}

.toast {
    width: 300px !important;
    background-color: white;
}


.toast-header i {
    font-size: 1.2rem;
}

.info .toast-header {
    background-color: #17a2b8;
    color: white;
}

.danger .toast-header {
    background-color: #dc3545;
    color: white;
}

.table td,
.table th {
    padding: 0.5rem;
}

#table_wrapper {
    color: #666;
    font-size: .8rem;
}

#table_filter {
    margin-right: 0.5rem;
}

.page-item.active .page-link {
    background-color: #17a2b8;
}

.page-link {
    color: #17a2b8;
    font-size: .8rem;
    padding: .25rem .50rem;
}

.page-link:hover {
    color: white;
    background-color: #17a2b8;
}

.dataTables_length,
div#table_filter,
.dataTables_info {
    font-size: .8rem;
}

h1 {
    text-align: center;
}

@media (min-width: 568px) {
    h1 {
        text-align: left;
    }
    .page-link {
        font-size: 1rem;
    }
    .dataTables_length,
    div#table_filter,
    .dataTables_info {
        font-size: 1rem;
    }
    #table_wrapper {
        font-size: 1rem;
    }
}

.sorting::after,
.sorting::before {
    color: #17a2b8;
}

.btn.btn-secondary:focus,
.btn.btn-outline-secondary:focus {
    -webkit-box-shadow: 0px 0px 5px 1px #6c757d;
    box-shadow: 0px 0px 5px 1px #6c757d;
}

.btn.btn-info:focus,
.btn.btn-outline-info:focus {
    -webkit-box-shadow: 0px 0px 5px 1px #17A2B8;
    box-shadow: 0px 0px 5px 1px #17A2B8;
}

.btn.btn-danger:focus,
.btn.btn-outline-danger:focus {
    -webkit-box-shadow: 0px 0px 5px 1px #dc3545;
    box-shadow: 0px 0px 5px 1px #dc3545;
}

.btn-row {
    border: none;
}

.modal-header {
    color: white;
    background-color: var(--info);
}

.modal-header button span{
    color: white;
}

.modal-header button span:hover{
    color: black;
}

.modal-footer {
    border-top: none;
}